<header class="entry-archive-header">

    <h1 class="entry-title entry-archive-title"><span class="divider"><span>Category</span></span>@ViewBag.Title</h1><div class="category-description">
        <p> This category is the place to find the information you need to be educated about your vehicle. Whether you are a beginner DIYer, a seasoned mechanic and there is always something new to learn.</p>
        <p>We’ll tell you how your car works, why maintenance matters, what you need, and how to stay safe . We’ve got tips for servicing brakes, how your oil filter works, checking your cooling system, choosing the right brake fluid, even dealing with water damage after a flood. Our guides will help equip you to make the right decisions for your situation, how to prepare for your next repair, and how to pick the right tools for the job.</p>
</header>