    <!-- The Modal -->
<div class="modal fade" id="MyReg">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <!-- &times; -->
                    <span class="fa fa-times-circle"></span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

   
            </div> <!-- /body -->


            <!-- Modal footer -->
             <div class="modal-footer">
                   <p> </p>
            </div> 

        </div>
    </div>
</div>


