@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />  
<br />  
<br />  

<div class="container">

    <div class="about-section">
        <div class="about-grid">
            <h3>THE IDEA BEHIND THIS SPACE?</h3>
            <p>
                Breaking down is a driver’s worst nightmare, especially if it happens on a long journey.
                The initial panic of how much is this going to cost sets in, but the cause of your breakdown could be a lot simpler than you think.
                A lot of breakdowns are relatively easy to fix and if you keep a close eye on the tips and guide in this space, you could avoid the embarrassment of breaking down while having your in-laws or kids in the back seat.
            </p>
        </div>
    </div>

    <br />  
    <br />  
    <br />  
    <br />  
    <br />  
    <br />  
    <br />  
</div>
